pandas
scikit-learn
umap-learn
matplotlib
jupyter
tensorflow
torch
babyplots
numpy
seaborn
xgboost
catboost
keras
umap-learn
scypy
tsfresh
yellowbrick
pingouin
statsmodels
pyarrow
fastparquet